* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo3.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
body {
  font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
    }
  }

header {
height: 50vw;
display: flex;
justify-content: center;
align-items: center;
}

.menu {
  background-color: #e3dada;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  display: block;
  transition: background-color 3s, color 2s;
}

.menu a:hover {
  background-color: #252325;
  color: #e3dada;
}

a {
  color:#252323;
  text-decoration: none;
}
a.houver {
  text-decoration: underline;
  color: rgb(219, 31, 31);
}

.titulo{
 transform: scale(0.2) translateY(50vh);
 opacity: 0;
 animation: linear 2s animacaotitulo forwards;
}

@keyframes animacaotitulo {
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.site-title,
.site-subtitle {
  color: #252323;
  text-align: center;
}
.site-title {
  font-size: 4em;
  font-family: 'Courgette', cursive;
}

.sobre,
.contato,
.section.portfolio {
  padding: 2em;
  margin-bottom: 2em;
  color: #252323;
}

@media (min-width:1200px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
}

.site-subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  text-align: center;
}

.sobre h2,
/*.contato h2,*/
.portfolio h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1em;
  font-size: 2em;
} 
 
.sobre p {
  color: #252323;
  margin-bottom: 1.4em;
  text-align: justify;
  text-indent: 1.4em;
} 

.sobre .avatar img {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.sobre .avatar {
  float: right;
  margin-left: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width:560px) {
 .portfolio .grid {
   grid-template-columns: 240px 240px;
 }
}

@media (min-width:880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3,240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 4em - 53px - 2em);
  }
}

@media (min-width:1150px) {
  .portfolio .grid {
    grid-template-columns: repeat(4,290px);
    align-content: center;
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms;
}

/*.img-portfolio:hover {
  transform: scale(1.2);
}*/

.flip-card {
  perspective: 500px;

}

.card{
position: relative;
transform-style: preserve-3d;
transition: transform 1s;
}

.flip-card:hover  .card {
  transform: rotateY(180deg);
}

.card-frente,
.card-tras {
  position: absolute;
  top:0;
  left: 0;
  backface-visibility: hidden;
}

.card-tras{
  background-color: #e3dada;
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}



/*deixar itens alinhados no centro da tela*/
.contato /*.icons*/ {
  text-align: center;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px;
}

.contato a {
  color: #252323;
  font-size: 5em;
  transition: text-shadow 1s;
}
