body {
    background: #e3dada;  
    font-family: new roman;
        height:100vh;
  }
  
  .menu {
    background-color: #252323;  
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none; 
    color: #e3dada;
  }
  
  a:hover {
    text-decoration: underline;
    color:red;
  }
  
  .site-title,
  .site-subtitle {
    color: #252323;
    text-align: center; 
  }