* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo3.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
body {
  font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 20px;
    }
  }

header {
height: 50vw;
display: flex;
justify-content: center;
align-items: center;
}

.menu {
  background-color: #e3dada;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  padding: 10px 20px;
  display: block;
}

a {
  color:#252323;
  text-decoration: none;
}
a.houver {
  text-decoration: underline;
  color: rgb(219, 31, 31);
}

.site-title,
.site-subtitle {
  color: #252323;
  text-align: center;
}
.site-title {
  font-size: 4em;
  font-family: 'Courgette', cursive;
}

section.portfolio {
  padding: 2em;
  margin-bottom: 2em;
  color: #252323
}

.site-subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  text-align: center;
}

.portfolio h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1em;
  font-size: 2em;
}  

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width:560px) {
 .portfolio .grid {
   grid-template-columns: 240px 240px;
 }
}

@media (min-width:880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3,240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 4em - 53px - 2em);
  }
}

@media (min-width:1150px) {
  .portfolio .grid {
    grid-template-columns: repeat(4,290px);
    align-content: center;
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
}
